table, th, tr, td{
	border: 1px, solid black;
	border-collapse: collapse;
}

body{
	background-color: #abcdef;
        font-family: "Helvetica", Tahoma, sans-serif";
	color: green;
}

a{
	color: LemonChiffon;
}

#info{
    background-color: PapayaWhip;
}

h1{
    background-color: pink;
    margin: 10px;
    padding 20px;
    padding-top;
    border-left: 10px green solid;
}

a{
    background-color: orange;
}

li{
    background-color:blue;
}

.highlight{
    background-color: Chartreuse;
}

#animals{
    text-decoration: underline;
    text-decoration-style: wavy;
}
