table, th, tr, td{
	border: 1px, solid black;
	border-collapse: collapse;
}

body{
	background-color: #abcdef;
	color: LemonChiffon;
}

a{
	color: LemonChiffon;
}

#info{
    background-color: PapayaWhip;
}

.highlight{
    background-color: Chartreuse;
}

#animals{
    text-decoration: underline;
    text-decoration-style: wavy;
}
